@media (min-width: @screen-sm-min) {
    #list{
        display:none;
    }
}

.logo{
    width:45px;
}

.table tr:first-child td  {
    border-top:none;
}

.home .picture {
    float:right;
    margin:8px;
}
.home .created {
    font-size:12px;
    padding-top:10px;
}

.home #feed_list{
    list-style:none;
    padding:0;
}

.home .entry{
    clear:both;
    display:inline-block ;
    border-bottom: 1px solid #ccc;
    padding:10px 0 10px 0;
    width:100%;
}
.home .entry .message:after {
    content:""; display:block; clear:both;
} 
.home .message .meta{
    font-size:0.9em;
    list-style:none;
    padding:0;
    width:100%;
    margin-top:15px;
    clear:both;
}
.home .message .meta li{
    float:left;
    padding:10 10 1 1;
}

.home .message .meta li a:hover{
    text-decoration:none;
}

.home .message .meta li:last-child{
   float:right;
}

.home .comment{
    margin-bottom:5px;
    border-top:1px solid black;
    display:none;
    clear:both;
}

.home .comment .meta{
    padding-top:5px;
}

.home .comment li{
    border-bottom:1px solid #ccc;
    padding:5px 0 5px 5px;
    margin-left:10px;
}

.home .comment li:last-child{
    border-bottom:none;
}

.home .message {
    word-break:break-all;
}

.home .comment_more_btn {
    display:none;
}

.home .comment_data {
    padding:0;
    list-style:none;
}


.home .comment_data li {
    padding-top:5px;
    font-size:0.9em
}

.home #next_btn{
    display: none;
}

.home .article{
    padding-bottom: 20px
}

.post article {
    padding: 7px;
    font-size: 1.2em;
    border-bottom: 1px solid;
    margin-bottom: 10px;
}

.post .comment {
    font-size:1em;
    list-style:none;
}

.post .comment {
    padding:5;
}

.post .comment li {
    border-bottom:1px solid #ddd;
    padding-top:5px;
    padding-bottom:5px;
}

.post .comment li:last-child {
    border-bottom:none;
}

.member .entries {
    padding:10px;
}

.member .entries li{
    padding-top:10px;
    padding-bottom:10px;
    list-style: none;
    border-bottom:1px solid #ddd;
}

.admin section {
    padding:20px;
    line-height:25px;
}

.admin section label {
    font-size:1.4em;
    font-weight:bold;
    color:#444
}

.admin section .description{
    font-size:1em;
}

.admin .secure {
    color:white;
}

.admin .secure:focus {
    color:black;
}

.admin .after_textarea{
    .margin-top:8px;
}
