.logo{
    width:45px;
}

.table tr:first-child td  {
    border-top:none;
}

.home .picture {
    float:right;
}

.home td {
    padding-top:20px !important;
    padding-bottom:10px !important;
    font-size:15px;
}

.home .created {
    font-size:12px;
    padding-top:10px;
}

.home .meta{
    padding-top:20px;
    clear:both;
    font-size:0.8em;
}

.home .message {
    word-break:break-all;
}

.post article {
    padding: 7px;
    font-size: 1.2em;
    border-bottom: 1px solid;
    margin-bottom: 10px;
}

.post .comment {
    font-size:1em;
}

.member .entries {
    padding:10px;
}

.member .entries li{
    padding-top:10px;
    padding-bottom:10px;
    list-style: none;
    border-bottom:1px solid #ddd;
}

.admin section {
    padding:20px;
    line-height:25px;
}

.admin section label {
    font-size:1.4em;
    font-weight:bold;
    color:#444
}

.admin section .description{
    font-size:1em;
}

.admin .secure {
    color:white;
}

.admin .secure:focus {
    color:black;
}

.admin .after_textarea{
    .margin-top:8px;
}