<div class="home" id="content" data-tag="{{tag}}">
{% extends "/view/base.html" %}
{% block content %}
{% autoescape true %}
<div class="row">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="/admin">관리자</a></li>
            <li><a href="/">전체</a>
        {% for tag in tags %}
            <li><a href="/feed/{{tag.name}}">#{{tag.name}}</a></li>    
        {% endfor%}
        </ul>
    </div>
    <div class="col-md-10">
        <table class="table" id="feed_list">
        </table>
        <!-- bind style.js -->
        <input type="button" id="next_btn" value="next" class="btn btn-primary btn-lg"/>
    </div>
</div>

{% endautoescape %}
{% endblock %}
</div>