<div class="member" id="content">
{% extends "/view/base.html" %}
{% block content %}
{% autoescape true %}
<div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="/">전체</a>
        {% for tag in tags %}
            <li><a href="/feed/{{tag.name}}">#{{tag.name}}</a></li>    
        {% endfor%}
        </ul>
    </div>
    <section class="col-md-10">
        <ul class="nav nav-tabs" role="tablist">
            <li {% if type == 'post' %}class="active"{% endif %}><a href="/member/post?member={{member_key}}">게시글</a></li>
            <li {% if type == 'comment' %}class="active"{% endif %}><a href="/member/comment?member={{member_key}}">댓글</a></li>
        </ul>
        <ul class="entries">
            {% for entry in entries %}
            <li>
                {{entry.message}}
                {{entry.created_time}}
            </li>            
            {% endfor%}
        </ul>
    </section>
{% endautoescape %}
{% endblock %}
</div>