<div class="post" id="content">
{% extends "/view/base.html" %}
{% block content %}
{% autoescape true %}
<div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="/">전체</a>
        {% for tag in tags %}
            <li><a href="/feed/{{tag.name}}">#{{tag.name}}</a></li>    
        {% endfor%}
        </ul>
    </div>
    <section class="col-md-10">
        <article>
            <span><a href="/member/post?member={{post.member.key_urlsafe}}">{{post.member.name}}</a></span>
            {% autoescape false %}{{post.message}}{% endautoescape %}
        </article>
        <table class="table comment">
        {% for comment in comments %}
        <tr>
            <td>
            <span><a href="/member/comment?member={{comment.member.key_urlsafe}}">{{comment.member.name}}</a></span>
            {% autoescape false %}{{comment.message}}{% endautoescape %}
            </td>
        </tr>
        {% endfor%}
    </table>
    </section>
    
{% endautoescape %}
{% endblock %}
</div>